@import "tailwindcss";
:root{
  --bg: #2E2E2E;
  --primary: #7345D6;
  --primary-600:#6743A5;
  --ink: #ffffff;
  --paper: #BFAB93;
  --muted: #594747;
}
html, body, #root { height: 100%; }
body{
  background: var(--bg);
  color: var(--ink);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
